 .activity{
	margin: 2vw;
	img{
		margin: 0 auto 10px auto;
		display: block;
		width: 150px;
		height: 150px;
	}
}
// @media only screen and (max-width: 768px) {
// 	.presentation-section {
// 		padding: 2rem 1rem 1rem;
// 	}
// 	.infos-section {
// 		height: auto;

// 		app-destination-gallery {
// 			transform: none;
// 		}
// 	}
// }
